
body {
    width: 68.5%;
    margin: auto;
}

input {
    margin-right: 10px;
}

#label-id {
    position: relative;
    left: 170px;
}

#connexion {
    cursor: pointer;
    margin-left: 35px;
    background-color: #1483ad;
    color: white;
    font-weight: bold;
    border: 1px solid #084056;
    padding: 3px 8px 3px 8px;
}

#connexion:hover {
    background-color: rgba(12, 137, 183, 0.5);
}

#blog-intro {
    position: relative;
}

#blog-intro h2 {
    position: absolute;
}

#img-background {
    /* background-color: #0e6c91; */
    position: relative;
    height: 130px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
}

#img-background img {
    width: 100%;
}

#background {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(31, 32, 33, 0.4);
}

form {
    margin-top: 30px;
}

form label {
    color: white;
}

#background p {
    font-style: italic;
    color: white;
    font-size: 0.9em;
}